.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.map h2 {
    margin-bottom: 30px;
}

.map div {
    background-color: black;
}